<!DOCTYPE html>
<html  lang="ro">
    <head>
		<meta
		  name="keywords"
		  content="flori,florarie,aranjament floral,buchet,buchet de flori,plante"
		/>
		<meta
		  name="description"
		  content="Luxa este o una dintre cele mai vechi florarii din Bucuresti...(adauga cat mai multe cuvinte cheie)(100 chars)999"
		/>
		<title>Luxa est.1992</title>
		<!--  -->
		<%- include("../fragmente/head") %>
	  </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
    <div class="afisaj">
        <h2>Useri</h2>

		<table id="useri">
		  <tr>
			<th>id</th><th>Username</th><th>Nume</th><th>Prenume</th><th>Data</th><th>Rol</th>
		  </tr>

		  <% for (var i = 0; i < useri.length; i++) { 
				if(useri[i].rol=="comun"){
				%>
				<tr>
				  <td><%= useri[i].id %></td>
				  <td><%= useri[i].username %></td>
				  <td><%= useri[i].nume %></td>
				  <td><%= useri[i].email %></td>
				  <%  
					d=new Date(useri[i].data_adaugare)
					sir_data=`${d.getDate()}/${d.getMonth()}/${d.getFullYear()} ${d.getHours()}:${d.getMinutes()}:${d.getSeconds()}`
				  %>
				  <td><%=  sir_data %></td>
				   <td><%=  useri[i].rol %></td>
				</tr> 
   
				<% } %>			
		  <% } %>
		</table>
		
		<p>Sterge utilizator</p>
		<form id="sterge" method="post" action="/sterge_utiliz">
			<label>
				Id: <input type="text" name="id_utiliz" value="">
			</label>
			
			<input type="submit" value="Submit">
		</form>
	</div>
</main>


    <%- include("../fragmente/footer") %>

</body>
</html>